name: push nix cache

on:
  push:
    branches:
      - master

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v31

      - run: nix run .#cache -L --accept-flake-config
        env:
          ATTIC_TOKEN: ${{ secrets.ATTIC_TOKEN }}
